*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size:62,5% ;
}

body{
    width: 100vw; /*ancho de pantalla */
    height: 100vh; /* ancho de pantalla */
    display: grid;
    grid:10% 50% 20% 15% /* filas */ /repeat(5,1fr) /* columnas */; 
    grid-template-areas:
    "header header header header header "
    " main main main main main"
    "infoAdicional infoAdicional infoAdicional  sidebar sidebar"
    "footer footer footer footer footer";
    gap: 1%;
/*     background: url(img/fondo.jpg);
    background-size:cover; */
    background-color: #ffff;
}


/* ------------------Inicio Header------------------ */

.header{
    background-color: #EADDB3;
    display: inline-block;
    position:sticky;
    grid-area: header;
    height: 90px;
    width: 100%;
    border-radius:10px;

} 
.img__header{
    height: 8px;
    margin-left: 10px;
}
.logo__header{
    height: 68px;
    
}

.header__contenedor{
    margin: auto;
    max-width: 3000px;
    height: 100%;
}

.header__ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-items: center;
    padding: 1rem;
}

.header__ul li{
    display: inline-block;
    position: relative;
    font-size: 21px;
    padding: 0 10px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.header__ul li a{
    font-size: 18px;
    text-align: end;
    text-decoration: none;
    margin-left: 10px;
    text-transform: uppercase;
}

.header__navSub{
    display: none; 
    position: absolute;
}

.header__navSub li{
    display: block;
    background-color:lightskyblue;
    justify-items: center;
    text-align: center;
    padding: 5px 5px;
}

.header__nav li:hover ul{
    display: block;
}

/* ----------Fin Header---------- */

/* ----------Footer---------------*/

.footer{
    background-color:#EADDB3;
    width: 99.9%;
    height: 8%;

    grid-area: footer;
    position: fixed;
    bottom: 0;
}


.footer__contenedor{
    border-radius: 10px;
    max-width: 115rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.contenedor__redes{
    display: flex;
}

.redes__img{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.redes__img img{
    width: 100%;
    height: 100%;
}

/* ------Fin Footer-------------- */

/* ----------Inicio Main---------- */

.main{
    background-color:#EBD9D9 ;
    grid-area:main;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    overflow: scroll;
}
.img__main{
    height: 450px;
    width: 480px;
}

.main .img__main{
    width: 450px;
    border-radius: 5px;
    float: left;
}

.main__conternedor{
    padding: 5px 10px;
    overflow: scroll;
}

.main__titulo{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2,5px 5px;
    padding: 5px 5px;
    text-align: center;
}

.main__parrafo{
    z-index: 1;
    font-size: 20px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 2,5px 4px;
    padding: 5px 5px;
    text-align: justify;
    text-decoration:wavy;
    color:#338AFF;
    overflow: auto;
}
/* -------------------------------------------------------------------- */

.infoAdicional{
    background-color:#EBD9D9 ;
    grid-area: infoAdicional;
    width: auto;
    height: auto;
    display: inline-block;
    overflow: scroll;
    margin: 2px 2px;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.titulo__info{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.parrafo__info{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    margin: 2,5px 4px;
    padding: 5px 5px;
    text-align: justify;
    text-decoration:wavy;
    color:#338AFF;
    overflow: auto;
}
/*-----------------------------------------------------------------------------------*/

.main__nosotros{
    width: 100vw;
    height: 100vh;
    grid-area: main;
    border-radius: 5px;

}

.main__section{
    border-style:groove ;
    border-color:#000000 ;
    height: 100%;
    /* display: flex; */
    background-color:floralwhite;
}

.section__div{
    margin:15px 25px ;
    width: 70rem;
}

.titulo__nos{
    font-size: 35px;
    color:#a7c7da;
}
.section__div p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    text-align: justify;
}

.section__div h2{
    font-size: 18px;
    padding-left: 1.2rem;
}


/* ---------------------------------------------------- */

.section__productos{
    width: 98vw;
    height: 90vh;
    display: flex;
    margin: 10px 15px;
    padding: 10px 5px;
    top: 50px;
    left: 10px;
    background-color:#a7c7da;

}

.div__productos{
    display:inline-block;


    
}

.img__productos{
    width: 350px;
    height: 350px;
    margin: 15px 10px;
    padding: 10px 15px;

}

.productos__titulo{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-display: center;
}

.productos__parrafo{
    font-size: 20px;
    font-family: 'Lobster', cursive;

}
/* ---------------------------------------------------------- */
.main__cliente{
    height: 48rem;
    margin: 1rem;
    
}

.cliente{
    display: flex;
    margin-top: 30px;
    border-style: groove;
    height: 8rem;
    background-color: cornsilk;

}

.cliente__titulo{
    margin: 10px 10px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.img__clientes{
    height: 100px;
    width: 90px;
    overflow: hidden;
    
}

.cliente__parrafo{
    margin:10px 10px ;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contenedor__form .form .form__header .form__title{
    font-weight: normal;
    font-family: sans-serif;
    color:#ff851b;
    text-align: center;
    padding: 14px 0;
}

.contenedor__form .form .form__header .form__title span{
    color:black;
}

.contenedor__form .form{
    background-color:beige;
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding:5px 35px;
    margin-top:30px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor__form .form .form__label{
    display: block;
    color:black;
    font-size: 20px;
    font-family:Roboto;
    position: relative;
}

.contenedor__form .form .form__input, .form__textarea{
    background-color:burlywood;
    border: none;
    outline: none;
    border-bottom:3px solid #ff851b;
    width: 100%;
    padding: 18px;
    margin-bottom:20px;
    border-radius: 2px;
    font-size: 15px;
    color: #fff;
    font-family: Roboto;
}

.contenedor__form .form .btn__submit{
    width: 100%;
    font-family: Roboto;
    outline: none;
    background:#ff851b;
    font-size: 16px;
    border: 1px solid black;
    color: #fff;
    cursor: pointer;
    padding: 15px 5px;

}

.contenedor__form .form .btn__reset{
    width: 100%;
    font-family: Roboto;
    outline: none;
    background:#ff851b;
    font-size: 16px;
    border: 1px groove black;
    color: #fff;
    margin: 5px 0;
    padding: 15px 5px;
    
    transition: all .5s ease;
}

.contenedor__form .form.btn__submit:hover{
    background: #f29716;

}
/* --------------------------------------Fin Main-----------------------------------------*/

.sidebar{
    background-color:#EBD9D9 ;
    grid-area: sidebar;
    display: inline-block;
    max-width: 98%;
}

.sidebar__p{
    margin: 5px 10px;
    padding: 10px 20px;
    font-size: 20px;
    text-align:center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    color:#2E86C1;
}
/* ------------------------------------------------------------------------- */

@media screen and (max-width:480px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        width: 100vw;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 0.5f;
        grid-template-areas:
        "header"
        "main" 
        "infoAdicional" 
        "sidebar" 
        "footer";
        background-size:cover;
    }

    .header{
        grid-area: header;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        display: flex;
        background: #a7c7da;
        padding: 0 15px;
        color: #ffff;
        display: inline-block;
        justify-content: space-between;
    }
    
    .img__header{

        height: 50px;
        justify-content: center;
    }
    .logo__header{
        max-height: 180px;
        max-width: 180px;

    }

    .header__ul li{
        display: inline-block;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 12px;
        text-transform: uppercase;
        align-items:start;
    }

    .header__ul li a{
        text-align: center;
        text-decoration: none;
        color: #ffff;
    }
    
    .main{
        grid-area: main;
        flex-wrap: wrap;

    }

    .img__main{
        max-width: 2250px;
        max-height: 250px;

    }
    .main__titulo{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(175, 153, 54);
    }
    .main__parrafo{
        font-size: 17px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }

    .infoAdicional{
        grid-area: infoAdicional;
        flex-wrap: wrap;
        overflow: scroll;
    }

    .titulo__info{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        color:blueviolet;
    }
    .parrafo__info{
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }

    .sidebar{
        width: 100%;
        height: 100%;
    }
    
    .sidebar__p{
        color:blue ;
        font-size: 25px;
        
    }

    .musica{
        border-radius: 10px;
    }
    .footer{
        background-color: #AAEACE;
        grid-area: footer;
        height: 6.5%;
        width: 100%;

    }
    .contenedor__redes{
        display: flex;
    }
    
    .redes__img{
        width: 2rem;
        height: 2rem;
        
    }
    
    .redes__img img{
        width: 90%;
        height: 90%;
    }
    .iframe{
        height: 250px;
        width: 450px;
    }
}

@media screen and (max-width:768px) {
    body{
        width: 100vw;
        height: 100vh;

    }
    .header{
        background-color: #48C9B0;
        display: inline-block;
        position:sticky;
        grid-area: header;
        height: 90px;
        width: 100%;
        border-radius:10px;
    }
    
    .header__pal{
        font-size: 25px;
    
    }
    .img__header{
        height: 8px;
    }
    .logo__header{
        height: 60px;
        padding: 2px 2px;
    }
    
    .header__contenedor{
        margin: auto;
        max-width: 3000px;
        height: 100%;
    }
    
    .header__ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        justify-items: center;
        padding: 1rem;
    }
    
    .header__ul li{
        display: inline-block;
        position: relative;
        font-size: 21px;
        padding: 0 10px;
        color: black;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .header__ul li a{
        text-align: end;
        text-decoration: none;
        margin-left: 10px;
        font-size: 13px;
        color: #ffff;
        text-transform: uppercase;
    }
    
    .header__navSub{
        display: none; 
        position: absolute;
    }
    
    .header__navSub li{
        display: block;
        background-color:lightskyblue;
        justify-items: center;
        text-align: center;
        padding: 5px 5px;
    }
    
    .header__nav li:hover ul{
        display: block;
    }

    .footer{
        background-color: #C39BD3 ;
    }
    .footer__contenedor{
        border-radius: 10px;
        max-width: 115rem;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    
    .contenedor__redes{
        display: flex;
    }
    
    .redes__img{
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
    }
    
    .redes__img img{
        width: 100%;
        height: 100%;
    }

    main{
        grid-area: main;
        flex-wrap: wrap;
    }


    .img__main{
        max-width: 2500px;
        max-height: 250px;

    }
    .main__titulo{
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: blueviolet;
    }
    .main__parrafo{
        font-size: 17px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    }

    .infoAdicional{
        grid-area: infoAdicional;
        
        overflow: scroll;
    }

    .titulo__info{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        color:blueviolet;
    }
    .parrafo__info{
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
    
    }

    .section__div{
        position: relative;
    }
    .titulo__nos{
        font-size: 25px;
        color: mediumslateblue;
    }

    .parrafo__nos{
        overflow: scroll;
    }

    .iframe{
        height:420px;
        width: 650px;
    }
}     
